body {
  margin:0px;
  background-image:url('../../images/资源/bg.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:342px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:342px;
  opacity:0.65;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:163px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 51, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:1366px;
  height:44px;
  opacity:0.1;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:352px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u420_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u420.mouseOver {
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:352px;
  width:45px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u422_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u422.mouseOver {
}
#u423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:352px;
  width:39px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u424_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u424.mouseOver {
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:352px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u426_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u426.mouseOver {
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:352px;
  width:36px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u428_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u428.mouseOver {
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:352px;
  width:37px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u430_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u430.mouseOver {
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:396px;
  width:1px;
  height:16px;
  font-size:20px;
  color:#666666;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1027px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:422px;
  width:1027px;
  height:312px;
  opacity:0.5;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:1023px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:90px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:67px;
  width:142px;
  height:90px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:140px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:42px;
  width:1px;
  height:139px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:92px;
  width:260px;
  height:38px;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u442_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Bold', '华文行楷 Regular', '华文行楷';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u442.mouseOver {
}
#u443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:260px;
  width:115px;
  height:28px;
}
#u445_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u445_input:disabled {
  color:grayText;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:259px;
  width:84px;
  height:28px;
}
#u447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u447_input:disabled {
  color:grayText;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:259px;
  width:263px;
  height:28px;
}
#u448_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:259px;
  width:37px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u449_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u449.mouseOver {
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:454px;
  width:24px;
  height:25px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:396px;
  width:185px;
  height:16px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:459px;
  width:57px;
  height:16px;
  color:#000000;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:459px;
  width:57px;
  height:16px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:459px;
  width:57px;
  height:16px;
  color:#0099FF;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:2px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:490px;
  width:1027px;
  height:1px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1023px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:460px;
  width:57px;
  height:16px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:530px;
  width:226px;
  height:152px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
