body {
  margin:0px;
  background-color:rgba(0, 204, 204, 0.286274509803922);
  background-image:url('../S_images/bg.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:1171px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u571_div {
  border-width: 0px;
	position: absolute;
	left: 0px;
	top: 64px;
	width: 219px;
	height: 519px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(121, 121, 121, 1);
	border-radius: 15px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:6px;
  width:219px;
  height:645px;
  opacity:0.5;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:108px;
  width:50px;
  height:48px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:44px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:188px;
  width:46px;
  height:44px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:200px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:263px;
  width:50px;
  height:46px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:279px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:46px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:426px;
  width:52px;
  height:46px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:441px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:348px;
  width:44px;
  height:41px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:360px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:509px;
  width:44px;
  height:42px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:520px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:578px;
  width:51px;
  height:49px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:593px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:54px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:28px;
  width:51px;
  height:54px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:46px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:124px;
  width:74px;
  height:16px;
  text-align:center;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:124px;
  width:257px;
  height:17px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:124px;
  width:237px;
  height:16px;
  text-align:center;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:2px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:162px;
  width:644px;
  height:1px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:75px;
  width:57px;
  height:16px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:75px;
  width:29px;
  height:16px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:75px;
  width:57px;
  height:16px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:2px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:101px;
  width:644px;
  height:1px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
