body{
margin: 0px;
    background-color: rgba(215, 215, 215, 1);
    background-image:url(../image/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    left: -187px;
    width: 1085px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#Layer1 {
	    position: absolute;
    left: 187px;
    top: 6px;
    width: 219px;
    height: 645px;
    opacity: 0.5;
    border-width: 0px;
	background-image:url(../image/003.png);
	
}

#Layer2 {
	position:absolute;
	width:65px;
	height:23px;
	z-index:1;
	top: 39px;
	left: 109px;
}
#Layer3 {
	position:absolute;
	width:64px;
	height:21px;
	z-index:2;
	left: 109px;
	top: 120px;
}
#Layer4 {
	position:absolute;
	width:71px;
	height:22px;
	z-index:3;
	left: 109px;
	top: 193px;
}
#Layer5 {
	position:absolute;
	width:71px;
	height:32px;
	z-index:4;
	left: 109px;
	top: 265px;
}
#Layer6 {
	position:absolute;
	width:66px;
	height:25px;
	z-index:5;
	left: 109px;
	top: 350px;
}
#Layer7 {
	position:absolute;
	width:67px;
	height:23px;
	z-index:6;
	left: 109px;
	top: 432px;
}
#Layer8 {
	position:absolute;
	width:68px;
	height:26px;
	z-index:7;
	left: 109px;
	top: 515px;
}
#Layer9 {
	position:absolute;
	width:66px;
	height:28px;
	z-index:8;
	left: 109px;
	top: 586px;
}
#Layer10 {
	border-width: 0px;
    position: absolute;
    left: 459px;
    top: 43px;
    width: 813px;
    height: 1087px;
    overflow: hidden;
}
#Layer11 {
	  border-width:0px;
  position:absolute;
  left:130px;
  top:100px;
  width:504px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;

}
#Layer12 {
	position:absolute;
	width:489px;
	height:220px;
	z-index:1;
	left: 9px;
	top: 27px;
}
.td_1{
text-align:right;
}

.td_2{
text-align:left;
}
#Layer13 {
	position:absolute;
	width:85px;
	height:25px;
	z-index:2;
	left: 362px;
	top: 274px;
}
#sub{
width:84px;
height:27px;
}
.input_1{
height:24px;
width:150px;
}
.menu{
color:#000000;
text-decoration:none;

}

.menu:hover{
color:#FFFF00;
text-decoration:none;

}